body, html {
    background-color: #fafafa;
    font-family: "Karla";
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    width: 400px;
    height: 400px;
    .image__item {
        background: svg-load('../images/oops.svg');
        width: 100%;
        height: 100%; 
    }
}

.is-row {
    margin: -10px;

    .is-col {
        padding: 10px;
    }
}

.icon {
    border-radius: 50%;
    background-color: #ffffff;
    padding: 10px;
    width: 50px;
    height: 50px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

    .icon__chicken {
        background: svg-load('../icons/chicken-1.svg');
        width: 100%;
        height: 100%; 
    }

    .icon__egg {
        background: svg-load('../icons/chicken-3.svg');
        width: 100%;
        height: 100%; 
    }

    .icon__chick {
        background: svg-load('../icons/chicken-2.svg');
        width: 100%;
        height: 100%; 
    }
}

.section {
    &.product-section,
    &.why-section {
        height: 100vh;
    }

    &.about-section {
        padding: 3rem 0;
        .img-wrapper {
            margin-top: -50px;
            position: absolute;
            padding: 0 3rem;
        }
    }
} 

.img-maps-wrapper {
    margin-top: -100px;
    position: absolute;
    padding: 0 3rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}